<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="bolzapp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="data_milestone1.js"> </script>
    <script defer src="bolzapp.js"></script>
    <title>Bolzapp</title>
</head>
<body>
    <main>
        <div class="main-bg mx-auto">
            <div id="root" class="macro-layout mx-auto d-flex">

                 <!-- left user list -->

                <div class="list d-flex flex-column">
                    <div class="header-list fb-10 bggrey d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center mt-3">
                            <figure class="my-img-container me-2 ms-2">
                                <img class="img-fluid" :src="myimage" alt="/img/avatar_io.jpg">
                            </figure>
                            <p>{{user.name}}</p>
                        </div>
                        <div class="me-2">
                            <i class="fa-sharp fa-solid fa-circle-notch fa-lg"></i>
                            <i class="fa-solid fa-message fa-lg ms-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-lg ms-2"></i>
                        </div>
                    </div>
                    <div class="notify fb-10 bgazure">
                        <div class="d-flex">
                            <div class="pic-notify-container bgwhite d-flex justify-content-center align-items-center ms-3 mt-3">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="d-flex flex-column text-notify mt-3 ms-2">
                                <p> Ricevi notifiche di nuovi messaggi </p>
                                <p class="notify-text-on">Attva notifiche desktop</p>
                            </div>
                        </div>
                    </div>
                    <div class="searchbar fb-5 bgwhite">
                        <input type="text" placeholder=" &#x1F50D; Cerca o inizia una nuova chat" class="input-search mt-2 ms-3" v-model="filterWord" @keyup.enter="filterUsers()">
                    </div>
                    <div class="user-list fb-75 bgblue y-scroll bgwhite">
                        <div class="users-container" v-for:="(info,i) in filterUsers" @click="changeIndex(i)">
                            <figure class="user-pic-container">
                                <img :src="`img/avatar${info.avatar}.jpg`":alt="info.name">
                                <p>{{info.name}}</p>
                            </figure>
                        </div>                    
                    </div>
                </div>

                <!-- chat -->

                <div class="chat d-flex flex-column">
                    <div class="fb-10 bggrey d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <figure class="chat-pic">
                                <img :src="'img/avatar'+ currentContact.avatar + '.jpg'" alt="currentContact.name">
                            </figure>
                            <div class="d-flex flex-column ms-2 justify-content-center header-chat-container">
                                <p class="name-header-chat"> {{currentContact.name}}</p>
                                <p class="colorgrey last-acess-text">Ultimo accesso oggi alle </p>
                            </div>
                        </div>
                        <div class="icons-header-chat me-4">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                            <i class="fa-solid fa-paperclip fa-lg"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-lg ms-2"></i>
                        </div>
                    </div>
                    <div class="fb-80 y-scroll chat-core pt-4 d-flex flex-column" >
                        <div v-for:="(message,i) in contacts[currentindex].messages" :class= "message.status === 'sent' ? 'send' : 'received'">
                            <div :class= "message.status === 'sent' ? 'right-bubble' : 'left-bubble'">
                                <p class="ms-3 mt-1">{{message.text}}</p>
                                <p class="right-date">{{message.date}}</p>
                            </div>
                        </div>  
                    </div>
                    <div class="fb-10 bgwhite d-flex align-items-center justify-content-between footer-chat" >
                        <i class="fa-regular fa-face-smile ms-3"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newChat" @keyup.enter="sendMessage">
                        <i class="fa-solid fa-microphone me-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>



